@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --red: #E21717;
    --white: #fff;
}

body {
    background-color: #0d0d0d;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--white);
    width : 85%;
    margin: 0 auto;
}

.header{
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo{
    width: 12rem;
}

.list{
    display: flex;
    gap: 6rem;
}

.list-item{
    color: var(--white);
    list-style-type: none;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.menu-icon, .cross{
    display: none;
}

.hero-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hero-img{
    width: 65rem;
    margin-top: -8rem;
}

.hero-img > img{
    width: 100%;
}

.hero-right-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-right-section > p{
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
}

.hero-right-section >p:first-child{
    font-weight: 700;
    color: var(--red);
}

.hero-right-section > h1{
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: 0.1rem;
}

.hero-right-section > .about-btn{
    align-self: flex-start;
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: var(--red);
}

.ui-section{
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 10rem 0;
}

.ui-card{
    padding: 3rem 4rem;
    width: 33rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    background-color: #1d1d1d;
    
}

.ui-card > img{
    width: 9rem;
}

.ui-card > h1{
    font-size: 3.2rem;
    line-height: 3.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}

.ui-card > p{
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 300;
    text-align: center;
}

.ui-card > a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.2rem;
    line-height: 2.2rem;
    font-weight: 300;
    color: var(--red);
}

.ui-section > .ui-card:nth-child(2){
    background-color: var(--red);
    color: var(--white);
}

.ui-section > .ui-card:nth-child(2) > img{
    width: 8rem;
}

.ui-section > .ui-card:nth-child(2) > a{
    color: var(--white);
}

.ui-section > .ui-card:last-child > img{
    width: 10.3rem;
}

.stats-section{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 10rem;
}

.stats-heading{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}

.stats-heading > h1{
    color: var(--red);
    font-size: 9rem;
    line-height: 9rem;
    font-weight: 700;
}

.stats-heading > p{
    text-transform: capitalize;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 400;
}

.stats-content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.content{
    width: 30rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem 0;
    background-color: #1d1d1d;
    gap: 1rem;
}

.content > h1{
    color: var(--red);
    font-size: 5rem;
    line-height: 5rem;
    font-weight: 500;
}

.content > p{
    text-transform: capitalize;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 300;
}

.projects-header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.projects-header > .heading{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projects-header > .heading > h1{
    font-size: 4.5rem;
    line-height: 4.5rem;
    text-transform: uppercase;
    font-weight: 500;
}

.projects-header > .heading > p{
    font-size: 1.6rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.projects-header > a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--white);
    background-color: var(--red);
    padding: 1rem 3rem;
    text-transform: uppercase;
    align-self: flex-start;
}

.project-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    margin: 5rem 0;
}

.project-row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}

.project-card{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-img{
    width: 40rem;
    height: 30rem;
    background-color: #1d1d1d;
    padding: 4rem 2.5rem;
}

.project-img > img{
    width: 100%;
    height: 100%;
}

.project-card > h1{
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
}

.project-card > p{
    font-size: 2rem;
    line-height: 2rem;
    color: var(--red);
    text-transform: uppercase;
    font-weight: 500;
}

.contact-section{
    display: flex;
    justify-content: space-between;
    padding: 8rem;
    margin-bottom: 5rem;
    background-color: #1d1d1d;
}

.contact-section > .left{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.contact-section > .left > h1{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

.contact-section > .left > p{
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
}

.contact-section > a{
    font-size: 2.2rem;
    color: var(--white);
    background-color: var(--red);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem 3rem;
    align-self: center;
}

.footer{
    position: absolute;
    left: 0;
    width: 100%;
    height: 18vh;
    padding: 0 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d1d1d;
}

.footer-logo{
    width: 12rem;
}

.footer-icons{
    display: flex;
    gap: 4rem;
}

.icon{
    display: inline-block;
    transform: scale(2);
    color: var(--white);
    text-decoration: none;
}

@media only screen and (max-width:900px){

    br{
        display: none;
    }

    .header{
        position: fixed;
        top: 0;
        left: 0;
        height: 10vh;
        width: 100%;
        background-color: #0d0d0d;
        padding: 0 5%;
    }

    .header-logo{
        width: 90px;
    }
    
    .toggle-nav{
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;   
     background-color: #0d0d0d;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     transform: translateX(100%);
     transition: all 0.3s ease;
    }

    .toggle-nav > .list{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }

    .toggle-nav > .list > .list-item{
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid #333;
    }

    .toggle-nav > .list > .list-item:first-child{
        border-top: 1px solid #333;
    }
    
    .menu-icon, .cross{
        border: none;
        background-color: transparent;
        display: block;
    }

    .cross{
        position: absolute;
        top: 4.5%;
        right: 8%;
    }

    .menu-icon > img, .cross > img{
        width: 30px;
    }

    .active .toggle-nav{
        transform: translateX(0);
    }

    .hero-section{
        flex-direction: column;
        margin-top: 10vh;
        gap: 20px;
    }

    .hero-img{
        width: 300px;
        margin-top: 0px;
    }

    .hero-right-section{
        align-items: center;
    }

    .hero-right-section > h1{
        font-size: 3rem;
        line-height: 3rem;
    }

    .hero-right-section > p{
        font-size: 1.6rem;
        text-align: center;
    }

    .hero-right-section > .about-btn{
        font-size: 1.6rem;
        align-self: auto;
    }

    .ui-section{
        flex-direction: column;
        align-items: center;
        margin: 5rem 0;
    }

    .ui-card{
        padding: 1rem;
        width: 28rem;
        gap: 2rem;
    }

    .ui-card > img{
        width: 6rem;
    }

    .ui-section > .ui-card:nth-child(2) > img{
        width: 6rem;
    }

    .ui-section > .ui-card:last-child > img{
        width: 6rem;
    }

    .ui-card > h1{
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .ui-card > p{
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .ui-card > a{
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .stats-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-bottom: 5rem;
    }

    .projects-header{
        justify-content: center;
        padding: 2rem 0;
    }
    
    .projects-header > .heading{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    
    .projects-header > .heading > h1{
        font-size: 3rem;
        line-height: 3.5rem;
    }
    
    .projects-header > .heading > p{
        font-size: 1.5rem;
    }
    
    .projects-header > a{
        display: none;
    }
    
    .project-row{
        flex-direction: column;
    }

    .project-card{
        align-items: center;
    }
    
    .project-img{
        width: 100%;
        height: auto;
        background-color: #1d1d1d;
        padding: 5rem 2.5rem;
    }

    .project-img > img{
        object-fit: contain;
    }

    .project-card > h1{
        font-size: 2rem;
        line-height: 2rem;
    }
    
    .project-card > p{
        font-size: 1.6rem;
        line-height: 1.6rem;
    }

    .contact-section{
        flex-direction: column;
        justify-content: unset;
        gap: 3rem;
        padding: 5rem 2rem;
    }
    
    .contact-section > .left{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    .contact-section > .left > h1{
        font-size: 2rem;
        line-height: 3rem;
        text-align: center;
    }
    
    .contact-section > .left > p{
        font-size: 1.2rem;
        text-align: center;
    }
    
    .contact-section > a{
        font-size: 1.5rem;
        padding: 1rem 3rem;
    }

    .footer{
        z-index: -5;
    }

    .footer-logo{
        width: 10rem;
    }
    
    .footer-icons{
        display: flex;
        gap: 3rem;
    }
    
    .icon{
        transform: scale(1.5);
    }
}
