@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
    --red: #E21717;
    --white: #fff;
}

body {
    background-color: #0d0d0d;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--white)
}

.header{
    width: 85%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-logo{
    width: 12rem;
}

.list{
    display: flex;
    gap: 8rem;
}

.list-item{
    color: var(--white);
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
}

.menu-icon, .cross{
    display: none;
}

.hero-section{
    width: 85%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.hero-img{
    width: 65rem;
    margin-top: -8rem;
}

.hero-img > img{
    width: 100%;
}

.hero-right-section{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero-right-section > p{
    font-size: 2rem;
}

.hero-right-section >p:first-child{
    font-weight: 700;
    color: var(--red);
}

.hero-right-section > h1{
    font-size: 5rem;
    line-height: 5rem;
}

.hero-right-section > .about-btn{
    align-self: flex-start;
    text-decoration: none;
    color: var(--white);
    font-size: 2rem;
    padding: 1rem 2rem;
    text-transform: uppercase;
    background-color: var(--red);
}

@media only screen and (max-width:768px){

    br{
        display: none;
    }

    .header{
        height: 12vh;
    }

    .header-logo{
        width: 90px;
    }
    
    .toggle-nav{
     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;   
     background-color: #0d0d0d;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     transform: translateX(100%);
     transition: all 0.3s ease;
    }

    .toggle-nav > .list{
        width: 100%;
        flex-direction: column;
        gap: 0;
    }

    .toggle-nav > .list > .list-item{
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid #333;
    }

    .toggle-nav > .list > .list-item:first-child{
        border-top: 1px solid #333;
    }
    
    .menu-icon, .cross{
        border: none;
        background-color: transparent;
        display: block;
    }

    .cross{
        position: absolute;
        top: 4.5%;
        right: 8%;
    }

    .menu-icon > img, .cross > img{
        width: 30px;
    }

    .active .toggle-nav{
        transform: translateX(0);
    }

    .hero-section{
        flex-direction: column;
        gap: 20px;
    }

    .hero-img{
        width: 300px;
        margin-top: 0;
    }

    .hero-right-section{
        align-items: center;
    }

    .hero-right-section > h1{
        font-size: 3rem;
        line-height: 3rem;
    }

    .hero-right-section > p{
        font-size: 1.6rem;
        text-align: center;
    }

    .hero-right-section > .about-btn{
        font-size: 1.6rem;
        align-self: auto;
    }
}





